.right-div {
  text-align: center;
  background-color: #f8f9fa; /* Example background color */
  padding: 20px;
  border-radius: 8px; /* Optional for rounded corners */
  margin-bottom: 20px;
}

.right-div-stack-container {
  padding: 10px;
  background-color: #ffffff; /* Optional different background for text container */
  border-radius: 8px; /* Optional for rounded corners */
}

.right-div-header {
  font-size: 24px;
  margin-bottom: 20px;
}

.right-div-stack {
  font-size: 18px;
  padding: 10px;
}

@media (max-width: 768px) {
  .right-div {
    padding: 15px;
    margin-bottom: 20px;
  }
  .right-div-header {
    font-size: 20px;
  }
  .right-div-stack {
    font-size: 16px;
  }
}

/* CAROUSEL */
.carousel-container {
  position: relative;
}

.carousel-image {
  height: 100vh;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.overlay h1 {
  font-size: 3rem;
}

.overlay h4 {
  font-size: 1.5rem;
}

.overlay .button {
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .overlay h1 {
      font-size: 2rem;
  }
  .overlay h4 {
      font-size: 1rem;
  }
  .overlay .button {
      font-size: 1rem;
  }
}

/* NAVBAR */
.navbar {
  background-color: #f8f9fa; /* Light background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional shadow for better visibility */
}

.nav-link {
  color: #333; /* Darker text for contrast */
}

.nav-link:hover {
  color: #198754; /* Slightly darker blue on hover */
}

.navbar-login-btn {
  background-color: #198754;
  color: white;
}

.navbar-login-btn:hover {
  background-color: #198754;
}

@media (max-width: 768px) {
  .navbar-collapse {
    background-color: #f8f9fa; /* Light background for dropdown */
  }
}

/* OPPORTUNITIES */
.main-content {
  padding-top: 80px; /* Adjust as needed to ensure content is not covered by the navbar */
}

.opp-org-header {
  margin-bottom: 20px;
  text-align: center;
}
.opp-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.oppcard-text {
  flex: 1;
}

.oppcard-img {
  text-align: center;
  padding: 10px;
}

.card-logo {
  width: 100px;
  height: auto;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.apply-button {
  background-color: #198754;
  color: white;
  border: none;
}

.apply-button:hover {
  background-color: #198754;
}

@media (max-width: 768px) {
  .main-content {
      padding-top: 60px; /* Adjust for smaller screens */
  }
}

/* DROPDOWN FILTER */
.dropdown-filter {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}

.filter-label {
  margin-right: 10px;
  font-weight: bold;
}

.filter-select {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f9fa;
  color: #333;
}

@media (max-width: 768px) {
  .dropdown-filter {
      flex-direction: column;
      align-items: flex-start;
  }

  .filter-label {
      margin-bottom: 10px;
  }

  .filter-select {
      width: 100%;
  }
}

/* ORGANIZATIONS */

.main-content {
  padding-top: 80px; /* Adjust as needed to ensure content is not covered by the navbar */
}

.opp-org-header {
  margin-bottom: 20px;
  text-align: center;
}

.opp-stack {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
}

.org-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.orgcard-text {
  flex: 1;
}

.orgcard-img {
  text-align: center;
  padding: 10px;
}

.card-logo {
  width: 100px;
  height: auto;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.apply-button {
  background-color: #198754;
  color: white;
  border: none;
}

.apply-button:hover {
  background-color: #198754;
}

@media (max-width: 768px) {
  .main-content {
    padding-top: 60px; /* Adjust for smaller screens */
  }
}

/* SEARCH BAR */
.searchbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
}

.searchlabel {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.searchinput {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f8f9fa;
  color: #333;
}

@media (max-width: 768px) {
  .searchbar {
      width: 100%;
      padding: 15px;
  }

  .searchinput {
      width: 100%;
  }
}

/* PROFILE */
.main-content {
  padding-top: 80px; /* Adjust as needed to ensure content is not covered by the navbar */
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.profile-header {
  margin-bottom: 20px;
  font-size: 2rem;
}

.profile-sub-header {
  margin-bottom: 40px;
  display: block;
}

@media (max-width: 768px) {
  .main-content {
      padding-top: 60px; /* Adjust for smaller screens */
  }

  .profile-header {
      font-size: 1.5rem;
  }

  .profile-sub-header {
      font-size: 1rem;
  }
}

/* PROFILE FORM */
.profile-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.left-column, .right-column {
  flex: 1 1 calc(50% - 40px);
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.button-submit {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.button-submit button, .button-delete {
  background-color: #198754;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-submit button:disabled, .button-delete:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.button-delete {
  margin-top: 10px;
  background-color: #dc3545;
}

.button-submit button:hover:not(:disabled), .button-delete:hover:not(:disabled) {
  background-color: #198754;
}

.button-delete:hover:not(:disabled) {
  background-color: #c82333;
}

.error {
  color: #dc3545;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .left-column, .right-column {
      flex: 1 1 100%;
  }
}

/* SIGN UP */
.main-content {
  padding-top: 80px; /* Adjust as needed to ensure content is not covered by the navbar */
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.signup-header {
  margin-bottom: 20px;
  font-size: 2rem;
}

.signup-sub-header {
  margin-bottom: 40px;
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .main-content {
      padding-top: 60px; /* Adjust for smaller screens */
  }

  .signup-header {
      font-size: 1.5rem;
  }

  .signup-sub-header {
      font-size: 1rem;
  }
}

/* SIGN UP FORM */
.signup-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.left-column, .right-column {
  flex: 1 1 calc(50% - 40px);
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
}

.button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.button-signupform {
  background-color: #198754;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-signupform:hover {
  background-color: #198754;
}

@media (max-width: 768px) {
  .left-column, .right-column {
      flex: 1 1 100%;
  }
}

/* LOGIN FORM */
.login-container {
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.login-button {
  background-color: #28a745; /* Bootstrap success variant */
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #218838; /* Darker shade for hover effect */
}

@media (max-width: 768px) {
  .login-container {
      padding: 15px;
  }

  .login-button {
      width: 100%;
  }
}


/* LOGIN */
.main-content {
  padding-top: 80px; /* Adjust as needed to ensure content is not covered by the navbar */
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}

.login-header {
  margin-bottom: 20px;
  font-size: 2rem;
}

.signup-loginpage {
  margin-top: 20px;
}

.signup-button-loginpage {
  background-color: #198754;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button-loginpage:hover {
  background-color: #198754;
}

@media (max-width: 768px) {
  .main-content {
      padding-top: 60px; /* Adjust for smaller screens */
  }

  .login-header {
      font-size: 1.5rem;
  }

  .signup-button-loginpage {
      width: 100%;
  }
}
